.section
  .caption
    %h1 snipp
    %a.btn.btn-large.btn-info{:href => "/auth/twitter"} Get Started
.section
  %h3 snippとは
  %p
    snippはmarkdownで記述されたあなたのスニペットを溜めておくことができるバッファのようなサービスです
.section
  .row-fluid
    .span3
      %h3
        %i.icon-edit
        Markdown
      %p
        スニペットの編集にはMarkdown形式を利用し、その場でリアルタイムにHTMLに書き出されます。
        %br/
        またMarkdown書式用のカンニングペーパを用意しており、文法はそちらを参照することが出来ます。
    .span3
      %h3
        %i.icon-tags
        タグクラウド
      %p
        スニペットにはタグを付けることが出来るため、タグによる検索が可能です。
    .span3
      %h3
        %i.icon-magnet
        マグネット
      %p
        使用頻度の高いスニペットはマグネットで止めておく事で、一覧ページの最上部に表示させることが出来ます。
    .span3
      %h3
      %p


