.content {
  margin-bottom: 50px;
  line-height: 1.7;

  h1,
  h2,
  h3 {
    margin-top: 1em;
  }

  h1 {
    font-size: 2em;
    line-height: 1.8;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
    line-height: 1.5;
  }

  pre {
    border: solid 1px #ccc;
    margin: .5em 0 1em;
    padding: 1em;
    font-size: .75em;
    line-height: 1.3;
    background: #fafafa;
  }

  ul {
    margin-top: .5em;
    margin-left: 1.2em;
    list-style: disc;
  }

  #tmpModal.modal.hide.fade {
    font-size: 70%;
  }
}
